.button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button h5 {
    padding-left: 6px;
}

.container-area {
    border: 1px solid #64616154;
    height: 75vh;
}

.tbody td, th {
    text-align: start;
}