.action {
    border: 2px solid #fafafa;
    border-radius: 10px;
    padding: 0.3rem 0.6rem;
    font-size: .5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin: 1px;
}

.btn-edit {
    background-color: #0704ca;
    color: #fafafa;
}
.btn-edit:hover{
    color: #0704ca;
}

.btn-edit:hover, .btn-delete:hover{
    background-color: #fafafa;
}

.btn-delete {
    background-color: #da0303;
    color: #fafafa;
}

.btn-delete:hover{
    color: #da0303;
}

.btn-action {
    background-color: #faea05;
    color: #070707;
}

.btn-action:hover {
    background-color: #070707;
    color: #faea05;
}